.container__content{
  width: 100%;
  height: 100vh;

  margin-top: 20px;

  display: flex;
  flex-direction: column;

  align-items: center;
}

.content__description {
  margin-top: 15px;
}

.content__description > p{
  margin-top: 20px;
  color: rgb(185, 185, 185);
}


.content__cover > img{
  border: 5px solid rgb(168, 159, 159);
  border-radius: 5px;
  width: 500px;
  min-width: 500px;
  height: 300px;
}
